.modal {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 100%;

  background-color: rgba(0, 0, 0, .6);
  display: none;

}

.modal__content {
  background-color: rgb(144, 220, 211);
  padding: 20px;
  border-radius: 20px;
  width: auto;

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-width: 400px;

    @media screen and (max-width: 500px) {
      min-width: 350px;
    }

    @media screen and (max-width: 415px) {
      min-width: 300px;
    }
  }
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
