.nav {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px !important;
}

.nav__btn {
  font-size: 15px !important;
  height: 30px !important;

  margin: auto 0;
  padding: 1px 15px !important;

  &:hover {
    color: #fff !important;
  }
}