.posts__item {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  margin-bottom: 10px;

  padding: 20px;
  padding-top: 10px;

  border: 2px solid rgb(197, 197, 197);
  border-radius: 5px;

  cursor: pointer;
}

.posts__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 30px;
}

.posts__description {
  font-size: 20px;
  line-height: 1.2;
}

.posts__left {
  width: 85%;
}

.posts__right {
  width: 15%;
  position: relative;
}
